<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home_template/assets/css/main.css" />
    <title>3JS_interface</title>
</head>

<script src="https://kit.fontawesome.com/f1c65451e4.js" crossorigin></script>
<link rel="stylesheet" href="/static/swarm/style.ff37c86a.css">

<body>
    <!-- Header -->
    <header id="header">
        <a class="logo" href="index.html">Swarm Robotics</a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="javascript:{}" onclick="document.getElementById('my_form').submit();">Logout</a></li>
            <form id="my_form" method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
            </form>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="view" id="root">
        <div class="Container camera" style="z-index:2"> <i id="CameraReset" class="fa-camera fas"></i> <i id="CameraTopView" class="fa-chevron-up fas"></i> <i id="CameraReset" class="fa-chevron-down fas"></i>
        </div>
        <div class="Container dest" style="z-index:2"> <i title="Set Destination" id="setDestination" class="fa-map-marker-alt fas" onclick="this.classList.toggle('active')"></i> <i id="deleteAllDestinations" class="fa-backspace fas"></i> </div>
        <div id="batStat" class="Container batt" style="z-index:2" onclick="this.classList.toggle('active')"> Battery State </div>
        <div class="Container pc" style="z-index:2"> <i id="InternetIcon" class="fa-globe-americas fas"></i> <label id="serverName" class="text1"> Platform PC UOP</label> <label id="online" class="online">
                offline</label> </div>
    </div>

    <script src="/static/home_template/assets/js/jquery.min.js"></script>
    <script src="/static/home_template/assets/js/browser.min.js"></script>
    <script src="/static/home_template/assets/js/breakpoints.min.js"></script>
    <script src="/static/home_template/assets/js/util.js"></script>
    <script src="/static/home_template/assets/js/main.js"></script>
</body>
<script src="/static/swarm/app.aa4bc72d.js"></script>


</html>